<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (transaction(); as transactionRef) {
      <div>
        <h2 data-cy="transactionDetailsHeading">
          <span jhiTranslate="centralizedAuthenticationProviderApp.transaction.detail.title">Transaction</span>
        </h2>

        <hr />

        <jhi-alert-error />

        <jhi-alert />

        <dl class="row-md jh-entity-details">
          <dt><span jhiTranslate="global.field.id">ID</span></dt>
          <dd>
            <span>{{ transactionRef.id }}</span>
          </dd>
          <dt><span jhiTranslate="centralizedAuthenticationProviderApp.transaction.action">Action</span></dt>
          <dd>
            <span>{{ transactionRef.action }}</span>
          </dd>
          <dt><span jhiTranslate="centralizedAuthenticationProviderApp.transaction.status">Status</span></dt>
          <dd>
            <span>{{ transactionRef.status }}</span>
          </dd>
          <dt><span jhiTranslate="centralizedAuthenticationProviderApp.transaction.message">Message</span></dt>
          <dd>
            <span>{{ transactionRef.message }}</span>
          </dd>
          <dt><span jhiTranslate="centralizedAuthenticationProviderApp.transaction.deviceInfo">Device Info</span></dt>
          <dd>
            <span>{{ transactionRef.deviceInfo }}</span>
          </dd>
          <dt><span jhiTranslate="centralizedAuthenticationProviderApp.transaction.createdDate">Created Date</span></dt>
          <dd>
            <span>{{ transactionRef.createdDate | formatMediumDatetime }}</span>
          </dd>
          <dt><span jhiTranslate="centralizedAuthenticationProviderApp.transaction.clientIp">Client Ip</span></dt>
          <dd>
            <span>{{ transactionRef.clientIp }}</span>
          </dd>
          <dt><span jhiTranslate="centralizedAuthenticationProviderApp.transaction.requestPath">Request Path</span></dt>
          <dd>
            <span>{{ transactionRef.requestPath }}</span>
          </dd>
          <dt><span jhiTranslate="centralizedAuthenticationProviderApp.transaction.requestMethod">Request Method</span></dt>
          <dd>
            <span>{{ transactionRef.requestMethod }}</span>
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
        </button>

        <button type="button" [routerLink]="['/transaction', transactionRef.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
        </button>
      </div>
    }
  </div>
</div>
