<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-transaction-heading"
        data-cy="TransactionCreateUpdateHeading"
        jhiTranslate="centralizedAuthenticationProviderApp.transaction.home.createOrEditLabel"
      >
        Create or edit a Transaction
      </h2>

      <div>
        <jhi-alert-error />

        @if (editForm.controls.id.value !== null) {
          <div class="mb-3">
            <label class="form-label" for="field_id" jhiTranslate="centralizedAuthenticationProviderApp.transaction.id">ID</label>
            <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div>
        }

        <div class="mb-3">
          <label class="form-label" for="field_action" jhiTranslate="centralizedAuthenticationProviderApp.transaction.action">Action</label>
          <input type="text" class="form-control" name="action" id="field_action" data-cy="action" formControlName="action" />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_status" jhiTranslate="centralizedAuthenticationProviderApp.transaction.status">Status</label>
          <input type="number" class="form-control" name="status" id="field_status" data-cy="status" formControlName="status" />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_message" jhiTranslate="centralizedAuthenticationProviderApp.transaction.message"
            >Message</label
          >
          <input type="text" class="form-control" name="message" id="field_message" data-cy="message" formControlName="message" />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_deviceInfo" jhiTranslate="centralizedAuthenticationProviderApp.transaction.deviceInfo"
            >Device Info</label
          >
          <input
            type="text"
            class="form-control"
            name="deviceInfo"
            id="field_deviceInfo"
            data-cy="deviceInfo"
            formControlName="deviceInfo"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_createdDate" jhiTranslate="centralizedAuthenticationProviderApp.transaction.createdDate"
            >Created Date</label
          >
          <div class="d-flex">
            <input
              id="field_createdDate"
              data-cy="createdDate"
              type="datetime-local"
              class="form-control"
              name="createdDate"
              formControlName="createdDate"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_clientIp" jhiTranslate="centralizedAuthenticationProviderApp.transaction.clientIp"
            >Client Ip</label
          >
          <input type="text" class="form-control" name="clientIp" id="field_clientIp" data-cy="clientIp" formControlName="clientIp" />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_requestPath" jhiTranslate="centralizedAuthenticationProviderApp.transaction.requestPath"
            >Request Path</label
          >
          <input
            type="text"
            class="form-control"
            name="requestPath"
            id="field_requestPath"
            data-cy="requestPath"
            formControlName="requestPath"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_requestMethod" jhiTranslate="centralizedAuthenticationProviderApp.transaction.requestMethod"
            >Request Method</label
          >
          <input
            type="text"
            class="form-control"
            name="requestMethod"
            id="field_requestMethod"
            data-cy="requestMethod"
            formControlName="requestMethod"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_username" jhiTranslate="centralizedAuthenticationProviderApp.transaction.username"
            >Username</label
          >
          <input type="text" class="form-control" name="username" id="field_username" data-cy="username" formControlName="username" />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_userId" jhiTranslate="centralizedAuthenticationProviderApp.transaction.userId"
            >User Id</label
          >
          <input type="number" class="form-control" name="userId" id="field_userId" data-cy="userId" formControlName="userId" />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_duration" jhiTranslate="centralizedAuthenticationProviderApp.transaction.duration"
            >Duration</label
          >
          <input type="number" class="form-control" name="duration" id="field_duration" data-cy="duration" formControlName="duration" />
        </div>

        <div class="mb-3">
          <label
            class="form-label"
            for="field_tokenHistoryId"
            jhiTranslate="centralizedAuthenticationProviderApp.transaction.tokenHistoryId"
            >Token History Id</label
          >
          <input
            type="number"
            class="form-control"
            name="tokenHistoryId"
            id="field_tokenHistoryId"
            data-cy="tokenHistoryId"
            formControlName="tokenHistoryId"
          />
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
